*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/build-logic/convention/build/
/build-logic/convention/build/classes/kotlin/main/
/core/build/
/core/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/core_ui/build/
/core_ui/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/data/build/
/data/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/database/build/
/database/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/domain/build/
/domain/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/navigation/build/
/navigation/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/presentation/build/
/presentation/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/